---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/global/Header.astro';
import Footer from '@components/global/Footer.astro';

interface Props {
  title: string;
  description: string;
  image?: string;
  article?: boolean;
  publishedAt?: string;
}

const { title, description, image, article, publishedAt } = Astro.props;
---

<BaseLayout title={title} description={description} image={image} article={article} publishedAt={publishedAt}>
  <Header />
  <main id="main-content">
    <slot />
  </main>
  <Footer />
</BaseLayout>
